{% extends "base.html" %}

{% block title %}A Cruzada{% endblock %}


{% block content %}
<h1>A Cruzada</h1>
<hr>
<br>
<h3>Bem vindo à história interativa de A Cruzada! </h3>
<br>
<p>Olá, viajante. Há tempos um dragão implacável aterroriza as terras do reino. Inúmeros guerreiros caíram perante sua fúria. Seu objetivo é trazer o fim ao último dragão vivo.</p>
<p>Leia o ambiente ao seu redor, avance sem recuar e decida com sabedoria</p>
<button class="start-btn" onclick="location.href='rotas/inicio.html'">Começar a aventura</button>
{{ texto | safe }} 

{% endblock %}
